*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$f-la: 'Lato', sans-serif;
$f-os: 'Oswald', sans-serif;
$f-sm: 'Smooch', cursive;
$f-te: 'Teko', sans-serif;

$c-menu: #0db4ac;
$c-hover: #006e69;
$c-g1: #5e5c5cde;
$c-g2: #9dc5c3d0;
